.content {
    min-height: 100vh;
    flex: 1;
}
.anh_nen {
    margin-top: 100px;
    display: flex; // Sử dụng flexbox để căn chỉnh các ảnh
    justify-content: center; // Căn giữa các ảnh
    align-items: center; // Căn giữa theo chiều dọc
    overflow: hidden; // Ẩn các phần tử tràn ra ngoài
    border-radius: 10px; // Bo tròn góc cho slider
}

.anh_nen img {
    width: 100%; // Đảm bảo ảnh chiếm toàn bộ chiều rộng
    height: auto; // Giữ đúng tỷ lệ ảnh
    border-radius: 10px; // Bo tròn góc cho ảnh
}

.slick-slide {
    display: flex; // Đảm bảo các slide được căn chỉnh
    justify-content: center; // Căn giữa
    align-items: center; // Căn giữa theo chiều dọc
}

.slick-prev,
.slick-next {
    z-index: 1; // Đảm bảo nút điều hướng nằm trên các ảnh
    color: var(--color-green); // Màu sắc cho nút điều hướng
}

.slick-prev:hover,
.slick-next:hover {
    color: var(--color-green-hover); // Màu sắc khi hover
}
.slider_2 {
    background: url(../../asset/slider/slider4.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;
    margin: 30px 60px;
}
.slider_3 {
    margin: 30px 0;
    background: url('../../asset/slider/slider5.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;
    text-align: center;
}
.title {
    color: var(--color-white);
    font-size: 60px;
    text-align: center;
    align-items: center;
    padding-top: 70px;
}

.button_sub {
    color: var(--color-white);
    font-size: 20px;
    text-decoration: none;
    line-height: 200px;
    padding: 10px;
    background-color: var(--color-green);
    border-radius: 5px;
    &:hover {
        background-color: var(--color-green-hover);
    }
}
